.navbar{
	border-bottom:#1886C7 1px solid;
	
}
.navbar .navbar-brand{
	
	color:#1886C7;
	font-size:24px;
}
.bg-dark{
	
	background-color:rgba(0, 0,0,1)!important;
}
.nav-link {
	
	color:white !important;
	text-transform:uppercase;
	transition: color .5s ease;
}
.nav-link:hover {
	
	color:#1886C7 !important;
}
#headerSection {
	background:url("../images/bg.jpg")no-repeat center center fixed;
	background-size:cover; 
	height:100vh;
}
#headerSection .overlay {
	
	background-color:rgba(0,0,0,.7);
}
#headerSection .row {
	height:100vh;
	
}
#headerSection span {

color:#1886C7 !important;	
	
}
.btn-outline-primary{
	padding-left: 30px;
	padding-right:30px;
	border-radius:0;
	cursor:pointer;
}